@model IEnumerable<StudentMVC.Models.Student>

@{
    ViewBag.Title = "Search Students ASP";
}

<h2>Search Students</h2>

@using (Html.BeginForm("Search", "Students", FormMethod.Get))
{
    <div class="form-group">
        <label>Department:</label>
        @Html.DropDownList("dept", (SelectList)ViewBag.DeptId, "All",new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Course:</label>
        @Html.DropDownList("course", (SelectList)ViewBag.CourseId, "All", new { @class = "form-control" })
    </div>
    <br/>
    <input type="submit" value="Search" class="btn btn-primary" />
}

<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Department</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Dept.Dept_name</td>
                <td>@student.Course.Course_name</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    Total Student : @Model.Count()
</div>

